apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Chart.Name }}-config
data:
  environment: {{ .Values.config.environment | quote }}
  app.name: {{ .Values.config.appName | quote }}
  version: {{ .Values.config.version | quote }}
